@media only screen and (min-width: 650px) {
	.top-nav ul {
		background-color: #211D24;
		display: flex;
		justify-content: center;
	}
	.top-nav ul li{
		display:inline-block;
		display: table-cell;
		vertical-align: bottom;
	}
	.photo-grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: repeat(7, auto);
	}
	
	.photo-cell {
		grid-column: 1/3;
	}
	
	.four {
		grid-column: 2/3;
	}

	.three {
		grid-column: 1/2;
	}

}

@media only screen and (min-width: 1000px) {
	.top-nav ul {
		display: flex;
		float: right;
		justify-content: center;
	}

	.photo-grid {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: repeat(7, auto);
	}

	.logo {
		float: left;
	}

	.one {
		grid-column: 1/3;
	}

	.two {
		grid-column: 3/5;
	}

	.four {
		grid-column: 2/3;
	}

	.three {
		grid-column: 1/2;
	}
}