@font-face {
	font-family: CodeLight;
	src: url(CodeDemo-Light.otf);

}

@font-face {
	font-family: CodeBold;
	src: url(CodeDemo-Bold.otf);

}

#welcome {
	margin-right: 2%;
	font-family: CodeBold;
}

#subWelcome {
	font-family: CodeLight;
}

.welcome {
	top: 40vh;
	position: relative;
	margin-left: 18%;
	margin-right: 18%;
	font-family: CodeLight;
	color: white;
}

.navItem {
	font-family: CodeBold;
}

.navToggle {
	fill: white;
	stroke: white;
	color: white;
	font-family: CodeLight;
}

.navList {
	background-color: #343a42;
}

.svg-wrapper {
	height: 100%;
	margin: 0 auto;
	position: relative;
 
  transform: translateY(-50%);
  width: 100%;
}

.shape {
  fill: transparent;
  stroke-dasharray: /*140 540;*/ 500 500;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: white;
}

.text {
  color: #fff;
  font-family: CodeBold;
  font-size: 22px;
  letter-spacing: 8px;
  
  position: relative;
  top: -250px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 500 500;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


/*.loading-page {
	background: #143975;
	width: 100vh;
	height: 100vh;
}

.loading-page .counter h1 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 300px;
	font-weight: bolder;
	margin-top: -10px;
}

h2 {
	position: fixed;
	top: 70%;
	left: 40%;
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-top: -10px;
} */

.contactEmail {
	font-size: 60px;
	top: 40vh;
	position: relative;
	margin-left: 25%;
	margin-right: 25%;
}

.contactPhone {
	font-size: 30px;
	top: 30vh;
	position: relative;
	margin-left: 37%;
	margin-right: 32%;
}

.contactPhone a {
	color: white;
}

.contactEmail a {
	color: white;
}

.jumbotron {
	background: none;
}

footer {
	position: absolute;
	bottom: 10px;
}